.tix-container{
    width: 100%;
    max-width: 750px;
    margin: 20px auto;
}
.ticket-title{
    font-size: 30px;
    display: inline;

}
.details-btn{
    margin: 20px;
}
.priority{
    color: red;
    padding-left: 10px;
}
.username{
    color: teal;
}